CREATE DATABASE [SCSDataBase] ON  PRIMARY 
( NAME = N'SCSDataBase', FILENAME = N'E:\Inetpub\wwwroot\SCS\Install\SCSDataBase.mdf' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SCSDataBase_log', FILENAME = N'E:\Inetpub\wwwroot\SCS\Install\SCSDataBase_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'SCSDataBase', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SCSDataBase].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [SCSDataBase]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [SCSDataBase] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
