USE [SCSDataBase]
GO
/****** Object:  StoredProcedure [dbo].[CheckNewMessages]    Script Date: 06/09/2008 13:39:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CheckNewMessages]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CheckNewMessages]
GO
/****** Object:  StoredProcedure [dbo].[CheckNewMessages]    Script Date: 06/09/2008 13:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CheckNewMessages]
	-- Add the parameters for the stored procedure here
	@lg varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select count(loginto) as cnt from activeuser where (loginto = @lg) and (readed = 'false')
END

GO
GRANT EXECUTE ON [dbo].[CheckNewMessages] TO [web]
GO
